<!-- Modal Cho tổ chức-->
<div class="modal fade" id="kyquyettoantochuc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 850px;">
        <div class="modal-header">
            <div class="input-group">
                <h5 class="modal-title" id="exampleModalLabel" style="text-transform: uppercase;">Mở thời gian quyết toán thuế cho Tổ chức - năm <span class="currentYear"></span></h5>
            </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <% if (typeof error !== 'undefined') { %>
            <p><%= error %></p>
          <% } %>
        <form action="/mo-ky-quyet-toan-to-chuc" method="post">
            <input name="adminId"  value="<%= admin.id %>" style="display: none;">
            <div class="modal-body mt-2">
                <div class="input-group">
                    <label for="" style="margin-top: 5px;" class="col-3">Thời gian bắt đầu quyết toán của cá nhân  <font style="color: red;">(*)</font></label>
                    <input type="date" id="ngaymo" style="margin-left: 15px;" name="ngaymo" class="form-control col-9" required>
                  </div>
                </div>
                <div class="modal-body mt-2">
                  <div class="input-group">
                    <label for="" style="margin-top: 5px;" class="col-3">Thời gian kết thúc quyết toán của cá nhân  <font style="color: red;">(*)</font></label>
                    <input type="date" id="ngaydong" name="ngaydong" style="margin-left: 15px;" class="form-control col-9" required>
                  </div>

                <div class="input-group mt-1" style="display: none;">
                    <label for="selectOpenTochuc" style="margin-top: 5px;" class="col-3">Chọn kỳ quyết toán: </label>
                    <select name="selectOpenTochuc" id="selectOpenTochuc" class="form-select col-8" onchange="updateDateFields()" required>
                        <option value="thang">Theo tháng</option>
                        <option value="quy">Theo quý</option>
                        <option value="nam">Theo năm</option>
                    </select>
                </div>
                <div class="input-group mt-4">
                    <label for="openTochuc" style="margin-top: 5px;" class="col-3">Thời gian bắt đầu quyết toán của tổ chức <font style="color: red;">(*)</font></label>
                    <input type="date" id="" style="margin-left: 15px;" name="openTochuc" class="form-control col-9" value="">
                </div>
            </div>
            <div class="modal-body mt-1">
                <div class="input-group">
                    <label for="closeTochuc" style="margin-top: 5px;" class="col-3">Thời gian kết thúc quyết toán của tổ chức<font style="color: red;">(*)</font></label>
                    <input type="date" id="" style="margin-left: 15px;" name="closeTochuc" class="form-control col-9" value="" required>
                </div>
            </div>
            
            <div class="modal-body mt-1">
                <div class="input-group">
                    <span style="color: red; font-style: italic;">LƯU Ý:&nbsp;&nbsp;Thời gian Cá nhân bắt đầu quyết toán chỉ khi Doanh nghiệp/Tổ chức đã kết thúc thời gian quyết toán. CBT vui lòng nhập đúng theo thời gian quy định.</span>
                    
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="submit" id="submitBtn" class="btn btn-info">Mở kỳ quyết toán</button>
            </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    function updateDateFields() {
        var selectOpenTochuc = document.getElementById('selectOpenTochuc');
        var openTochuc = document.getElementById('openTochuc');
        var closeTochuc = document.getElementById('closeTochuc');

        var currentDate = new Date();
        var year = currentDate.getFullYear();
        var month = currentDate.getMonth() + 1; 
        var lastDayOfMonth = new Date(year, month, 0).getDate();
    }

    updateDateFields();
</script>