<!-- views/partials/footer.ejs -->

<div class="footer" style="margin:0px auto;width: 100%; clear: both; margin-top: 25px;">
    <div class="lenhe_ft" style="text-align:center; font-family: Tahoma;font-size: 8pt;">
        <strong>HỆ THỐNG GIẢ LẬP QUYẾT TOÁN THUẾ THU NHẬP CÁ NHÂN<br>
                SINH VIÊN THỰC HIỆN<br>
                LÊ THỊ YẾN LOAN
        </strong>
    </div>
    <br>
</div>
