<!--phan header-->
<img src="https://thuedientu.gdt.gov.vn/etaxnnt/static/images/img_new/thuedientu.png">
<div style="float: right;" class="dangnhap">
    <span class="button_thue">
      <strong>
      <a href="nd-register">Đăng ký</a>
    </strong>
    </span>
    <span class="button_thue">
      <strong>
      <a href="nd-login">Đăng nhập</a>
    </strong>
    </span>
  </div>

  <div>
    <nav class="navbar" style="background-color: #2886d3">
        <span style="margin-left: 15px; color: white; font-size: 15px; font-weight: bold;">HOME</span>
    </nav>
</div>

<nav style="background-color: hsl(204, 49%, 89%); margin-top: 1px; padding-left: 15px; padding-bottom: 4px;">
  <a href="/tokhai">Kê khai thếu trực tuyến   |</a>
  <a href="/noptokhai">Nộp tờ khai    |</a>
  <a href="#">Tra cứu tờ khai</a>
</nav>


<style>
     a {
      text-decoration: none;
   }
</style>
<!--phan header-->