<%- include('head') %>
  <img src="https://thuedientu.gdt.gov.vn/etaxnnt/static/images/img_new/thuedientu.png">
  <div>
    <nav class="navbar" style="background-color: #2886d3">
      <span style="margin-left: 15px;  font-size: 15px; font-weight: bold;">
        <a href="/" style="color: white;">
          <i class="fas fa-home" style="color: aliceblue;"></i>
        </a>
      </li>
      </span>

    </nav>
  </div>

  <nav style="background-color: hsl(204, 49%, 89%); margin-top: 1px; padding-left: 15px; padding-bottom: 4px;">
  <br>
  </nav>
  <style>
    a {
      text-decoration: none;
    }
  </style>