<!--phan header-->
<img src="https://thuedientu.gdt.gov.vn/etaxnnt/static/images/img_new/thuedientu.png">
<div style="float: right;" class="dangnhap">
    <span class="button_thue">
      <strong>
      <a href="nd-register">Đăng ký</a>
    </strong>
    </span>
    <span class="button_thue">
      <strong>
      <a href="nd-login">Đăng nhập</a>
    </strong>
    </span>
  </div>

  <div>
    <nav class="navbar" style="background-color: #2886d3">
        <span style="margin-left: 15px; color: white; font-size: 15px; font-weight: bold;">HOME</span>
    </nav>
</div>

<style>
     a {
      text-decoration: none;
   }
</style>
<!--phan header-->