<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <div class="container">
    <div class="khungtong">
      <!--phan header-->
      <header>
        <%- include('../partials/header_tc') -%>
      </header>
      <!--phan header-->

      <!--PHẦN NỘI DUNG-->
      <div class="container-fluid" style="width: 550px; margin-top: 1pc; margin-bottom: 1pc;">
        <div class="card bg-glass" style="border-radius: 5px;">
          <nav style="color: #b9deff; background-color: #2886d3; height: 30px; border-radius: 5px; text-align: center;">
            <p style="margin-top: 3px; color: white; font-weight: 600;">Tổ chức đăng nhập</p>
          </nav>
          <div class="card-body px-4 py-5 px-md-5">
            <form action="/tochuc/login" method="post">

              <div class="all-steps" id="all-steps"><span class="step"></span> <span class="step"></span>
              </div>
              <div class="form-outline">
                <div class="form-outline mb-4">
                  <label style="margin-bottom: 5px; font-weight: 600;">Mã số thuế:</label>
                  <input type="text" id="" class="form-control" name="username" required placeholder="Nhập mã số thuế tổ chức" />
                </div>
                <p style="margin-bottom: 5px; font-weight: 600;">Mật khẩu:</p>
                <div class="input-group">

                  <input type="password" id="password" name="password" class="form-control" placeholder="Nhập mật khẩu">
                  <span style="background-color: white;" class="input-group-text" id="password-toggle" onclick="togglePasswordVisibility()">
                    <i class="fa fa-eye" id="password-icon"></i>
                  </span>

                </div>
              </div>
              <br>

              <button type="submit" class="btn btn-primary">
                Đăng nhập
              </button>
              <div style="text-align: right;">
                <a href="/quen-mat-khau">Lấy lại mật khẩu?</a>
              </div>
            </form>
          </div>
        </div>
        <br><br><br>
        <!--PHẦN NỘI DUNG-->
      </div>
    </div>
    <footer>
      <%- include('../partials/footer') %>
    </footer>
    <script src="js/formwizard.js"></script>
    <script>
      function togglePasswordVisibility() {
        var passwordField = document.getElementById("password");
        var passwordIcon = document.getElementById("password-icon");

        if (passwordField.type === "password") {
          passwordField.type = "text";
          passwordIcon.className = "fa fa-eye-slash";
        } else {
          passwordField.type = "password";
          passwordIcon.className = "fa fa-eye";
        }
      }
    </script>
</body>

</html>