<html lang="en">
<head>
  <%- include('head') %>
</head>

<body>
  <div class="container">
    <div class="khungtong">
      <header>
        <%- include('../partials/header') -%>
      </header>
      <div class="container-fluid" style=" width: 750px;margin-top: 1pc; margin-bottom: 1pc;">
        <div class="card">
          <h5 class="card-header" style="text-align: center;  background-color: #2886d3; color: white; font-size: 16px;">Đăng ký tài khoản doanh nghiệp/tổ chức</h5>
          <div class="card-body">
            <% if (messages.error) { %>
                <div style="text-align: center;">
                    <span style=" color: red; font-size: 18px; text-align: center;" class="error-message"><%= messages.error[0] %></span>
                </div>
              <% } %>
           <form action="/tochuc/dang-ky/b1" method="post">
              <div class="row mt-3">
                <div class="col"></div>
                <div class="col-3">
                  <label for="" style="font-size: 16px;">Mã số thuế <font style="color: red;">(*)</font></label>
                </div>
                <div class="col-7">
                  <input type="text" name="masothue" class="form-control">
                </div>
                <div class="col"></div>
            </div>

            <div class="row mt-3">
              <div class="col"></div>
              <div class="col-3">
                <label for="" style="font-size: 16px;">Mã kiểm tra <font style="color: red;">(*)</font></label>
              </div>
              <div class="col-7">
                <input type="text" name="captcha" class="form-control">
              </div>
              <div class="col"></div>
          </div>

          <div class="row mt-3">
            <div class="col"></div>
            <div class="col-3">
            </div>
            <div class="col-7">
              <img style="border: 1px; background-color: rgba(113, 146, 213, 0.125);" id="captchaImage" src="/captcha" alt="">
              <img id="reload" src="https://cdn-icons-png.flaticon.com/512/2546/2546705.png" alt=""  style=" margin-left: 15px; height: 30px; width: 30px;">
            </div>
            <div class="col"></div>
        </div>
            <div class="container text-center mt-5">
              <button class="btn btn-primary mx-auto"  style="width: 150px;">Tiếp tục</button>
            </div>
           </form>
          </div>
        </div>
        <br><br><br>
      </div>
    </div>
    <footer>
      <%- include('../partials/footer') %>
    </footer>
    <script src="js/index.js"></script>

</body>

</html>