<style scoped>
  label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: rgb(106, 106, 238);
  }
</style>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" style="max-width: 950px;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Thông tin cá nhân làm việc trong doanh nghiệp/tổ chức (trong năm
          quyết toán thuế)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <!-- Form for editing user details -->
        <form id="editUserForm">
          <input type="hidden" id="editUserId" name="id">
          <div class="row">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="fullname">Họ tên NNT</label>
                  <input type="text" class="form-control" id="hoten" name="hoten">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="masothue">Mã số thuế</label>
                  <input type="text" class="form-control" id="masothue" name="masothue">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="fullname">Email</label>
                  <input type="text" class="form-control" id="email" name="email">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="dienthoai">Điện thoại</label>
                  <input type="text" class="form-control" id="dienthoai" name="dienthoai">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="cccd">Căn cước công dân</label>
                  <input type="text" class="form-control" id="cccd" name="cccd">
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label for="email">Địa chỉ</label>
                  <input type="text" class="form-control" id="diachi" name="diachi">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="thunhaptinhthue">Tổng thu nhập</label>
                  <input type="text" class="form-control" id="thunhaptinhthue" name="thunhaptinhthue">
                </div>
              </div>
              <div class="col"></div>
            </div>
            <div class="row">
              <div class="col">
                <div class="input-group">
                  <label for="" style="margin-right: 15px;"> Ghi chú</label>
                  <textarea class="form-control" name="ghichu" id="ghichu"
                    placeholder="Nhập nội dung ghi chú tại đây"></textarea>
                </div>
              </div>
            </div>
          </div>
          <input style="display: none;" id="nldId" name="nldId">
          <br><br>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="updateNhanvien()">Cập nhật</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>