<style scoped>
  label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: rgb(106, 106, 238);
  }
</style>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" style="max-width: 1250px;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Thông tin cá nhân làm việc trong doanh nghiệp/tổ chức (trong năm
          quyết toán thuế)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form for editing user details -->
        <form id="editUserForm">
          <input type="hidden" id="editUserId" name="id">
          <div class="row">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="fullname">Họ tên NNT</label>
                  <input type="text" class="form-control" id="hoten" name="hoten">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="masothue">Mã số thuế</label>
                  <input type="text" class="form-control" id="masothue" name="masothue">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="cccd">Căn cước công dân</label>
                  <input type="text" class="form-control" id="cccd" name="cccd">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="fullname">Email</label>
                  <input type="text" class="form-control" id="email" name="email">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="dienthoai">Điện thoại</label>
                  <input type="text" class="form-control" id="dienthoai" name="dienthoai">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="email">Địa chỉ</label>
                  <input type="text" class="form-control" id="diachi" name="diachi">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="phuthuoc">Số người phụ thuộc</label>
                  <input type="text" class="form-control" id="phuthuoc" name="phuthuoc">
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label for="hopdonglaodong">Hợp đồng lao động</label>
                  <input type="text" class="form-control" id="hopdonglaodong" name="hopdonglaodong">
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label for="khautruthue">Khấu trừ thuế</label>
                  <input type="text" class="form-control" id="khautruthue" name="khautruthue">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="thoigianlamviec">Thời gian làm việc</label>
                  <input type="text" class="form-control" id="thoigianlamviec" name="thoigianlamviec">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="tuthang">Từ tháng</label>
                  <input type="text" class="form-control" id="tuthang" name="tuthang">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="denthang">Đến tháng</label>
                  <input type="text" class="form-control" id="denthang" name="denthang">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="vitricongviec">Vị trí làm việc</label>
                  <input type="text" class="form-control" id="vitricongviec" name="vitricongviec">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="mucluong">Mức lương(trên hợp đồng đối với người có ký HĐLĐ)</label>
                  <input type="text" class="form-control" id="mucluong" name="mucluong">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="thunhaptinhthue">Thu nhập tính thuế(theo tháng)</label>
                  <input type="text" class="form-control" id="thunhaptinhthue" name="thunhaptinhthue">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="bhxh">Mức đóng bảo hiểm xã hội (theo tháng)</label>
                  <input type="text" class="form-control" id="bhxh" name="bhxh">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="bhyt">Mức đóng bảo hiểm y tế (theo tháng)</label>
                  <input type="text" class="form-control" id="bhyt" name="bhyt">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="bhtn">Mức đóng bảo hiểm thất nghiệp (theo tháng)</label>
                  <input type="text" class="form-control" id="bhtn" name="bhtn">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="dakhautruthue">Đã khấu trừ thuế (theo tháng)</label>
                  <input type="text" class="form-control" id="dakhautruthue" name="dakhautruthue">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="tong_khautruthue">Tổng mức khấu trừ thuế (theo thời gian làm việc)</label>
                  <input type="text" class="form-control" id="tong_khautruthue" name="tong_khautruthue">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="tong_thunhapchiuthue">Tổng thu nhập tính thuế (theo thời gian làm việc)</label>
                  <input type="text" class="form-control" id="tong_thunhapchiuthue" name="tong_thunhapchiuthue">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="input-group">
                  <label for="" style="margin-right: 15px;"> Ghi chú</label>
                  <textarea class="form-control" name="ghichu" id="ghichu"
                    placeholder="Nhập nội dung ghi chú tại đây"></textarea>
                </div>
              </div>
            </div>
          </div>
          <input style="display: none;" id="nldId" name="nldId">
          <br><br>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Cập nhật</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>