<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, <%= user.username %></h1>
    <h4><%= user.id %></h4>
    <h1>
        Upload file excel
    </h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <span>Tên tổ chức</span>
        <input type="text" name="tentochuc">
        <input type="file" name="file" id="">
        <button>submit</button>
    </form>
</body>
</html>