<!--phan header-->
<img src="https://thuedientu.gdt.gov.vn/etaxnnt/static/images/img_new/thuedientu.png">
  <div>
    <nav class="navbar" style="background-color: #2886d3">
        <span style="margin-left: 15px; color: white; font-size: 15px; font-weight: bold;">HOME</span>
        <span style="margin-left: 15px; font-size: 15px; margin-right: 1pc; color: white;">
            <%= user.username %>
            <i style="text-align: right;color: white;" class="fa-solid fa-caret-down"></i> 
        </span>   
    </nav>
</div>

<nav style="background-color: hsl(204, 49%, 89%); margin-top: 1px; padding-left: 15px; padding-bottom: 4px;">
  <a href="/tochuc/upload">Kê khai trả thuế     |</a>
  <a href="#">Nộp tờ khai    |</a>
  <a href="#">Tra cứu tờ khai</a>
</nav>


<style>
     a {
      text-decoration: none;
   }
</style>
<!--phan header-->