<form action="/otp" method="post">
    mã số thuế
    <input type="text" name="masothue">
    mật khẩu
    <input type="text" name="password">
    nhập lại mật khẩu
    <input type="text" name="confirmPassword">
    <button class="btn btn-primary" type="submit">Submit</button>
</form>