            <!--STEP 1-->
            <div class="step" data-step="1">
              <div class="input-group  mt-3">
                <span class="thongtintokhai">Tên người gửi
                  <font style="color: red;">(*)</font>
                </span>
                <input  style="width: 600px;" ype="text" name="fullname" id="" value="<%= user.ca_nhan.fullname %>"/>
              </div>

              <%# ĐỊA CHỈ LIÊN HỆ - NAME="address" %>
              <div class="input-group" style="margin-top: 15px;">
                <span class="thongtintokhai">Địa chỉ liên hệ
                  <font style="color: red;">(*)</font>
                </span>
                <input style="width: 600px;" type="text"  id="" value="<%= user.ca_nhan.dia_chi.xa_phuong %>"/>
              </div>

              <%# ĐIỆN THOẠI - NAME="phone" %>
              <div class="input-group" style="margin-top: 15px;">
                <span class="thongtintokhai">Điện thoại liên lạc
                  <font style="color: red;">(*)</font>
                </span>
                <input style="width: 600px;" type="tel" name="phone" value="<%= user.ca_nhan.phone %>" required>
              </div>

              <%# EMAIL - NAME="email" %>
              <div class="input-group" style="margin-top: 15px;">
                <span class="thongtintokhai">Địa chỉ Email
                  <font style="color: red;">(*)</font>
                </span>
                <input style="width: 600px;" name="email" type="text" value="<%= user.ca_nhan.email %>"  id="">
              </div>

              <!--CHỌN TỜ KHAI-->
              <div class="input-group" style="margin-top: 15px;">
                <span class="thongtintokhai">Chọn tờ khai</span>
                <select class="" style="margin-right: 250px; width: 600px;" name="tokhai" id="">
                  <option value="" name="">02/QTT-TNCN- Tờ khai quyết toán thuế thu nhập cá nhân(TT92/2015)</option>
                </select>
              </div>

              <!--CỤC THUẾ - CHI CỤC THUẾ-->
              <div class="input-group" style="margin-top: 15px; display: none;">
                <span class="thongtintokhai">Cục thuế</span>
                <select class="" style="margin-right: 240px; width: 600px;" name="cucthue" id="">
                  <option value="" disabled></option>
                </select>
              </div>

              <div class="input-group" style="margin-top: 15px; display: none">
                <span class="thongtintokhai"> Chi cục thuế</span>
                <select class="" style="margin-right: 240px; width: 600px;" name="chicucthue" id="">
                  <option value="" disabled></option>
                </select>
              </div>


              <!--LOẠI TỜ KHAI-->
              <div class="input-group" style="margin-top: 15px;">
                <span class="thongtintokhai">Loại tờ khai</span>
                <select class="" style="margin-right: 250px; width: 600px;" name="loaitokhai" id="">
                  <option value="" name="loaitokhai">Tờ khai chính thức
                  </option>
                </select>
              </div>

              <%# NAME KÊ KHAI - NAME="year" %>
              <div class="input-group" style="margin-top: 15px;">
                <span class="thongtintokhai">Năm kê khai</span>
                <input style="width: 150px;" name="year" type="text" id="yearInput" oninput="updateMonths()">
              </div>

              <%# NAME KÊ KHAI - NAME="year" %>
              <div class="input-group" style="margin-top: 15px;">
                <span class="thongtintokhai">Từ tháng</span>
                <input style="width: 150px;" name="tungay" type="text" id="fromMonth">

                <span class="thongtintokhai">Đến tháng</span>
                <input style="width: 150px;" name="denngay" type="text" id="toMonth">
                <input style="width: 150px; display: none;" name="numMonths" type="text" id="numMonths">
              </div>
              <br>
              <button class="next-button btn btn-primary" style="width: 150px; margin-left: 35pc;" data-step="2">Tiếp tục</button>
            </div>
