<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
  <style scoped>
    /* Đặt lớp CSS hidden */
    .step.hidden {
      display: none;
    }

    .step {
      background-color: white;
    }
  </style>
</head>


<body>
  <div class="container">
    <div class="khungtong">
      <header>
        <%- include('./partials/header') -%>
      </header>
      <!--phan header-->

      <!--PHẦN NỘI DUNG-->
      <div class="container-fluid mt-3" style="text-align: center;">
            <h5>Tạo tờ khai quyết toán thuế thành công</h5>
        <br><br><br>
        <!--PHẦN NỘI DUNG-->
      </div>
    </div>
    <footer>
      <%- include('../partials/footer') %>
    </footer>
</body>

</html>