<div class="step hidden"  data-step="4">
    Xác nhận nộp tờ khai <br>
    <button class="prev-button btn btn-primary" style="margin-left: 35pc;" data-step="1">Quay lại</button>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>