<html lang="en">
<head>
  <%- include('head') %>
</head>
<body>
  <div class="container">
    <div class="khungtong">
      <!--phan header-->
      <header>
        <%- include('../partials/header') -%>
      </header>
      <!--phan header-->

      <!--PHẦN NỘI DUNG-->
      <div class="container-fluid mt-3" style="text-align: center;">
            <h3>Tạo tờ khai quyết toán thuế thành công</h3>
        <br><br><br>
        <!--PHẦN NỘI DUNG-->
      </div>
    </div>
    <footer>
      <%- include('../partials/footer') %>
    </footer>
</body>

</html>