<head>

</head>

<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head') %>
  <style scoped>
    /* Đặt lớp CSS hidden */
    .step.hidden {
      display: none;
    }

    .step {
      background-color: white;
    }
  </style>
</head>


<body>
  <div class="container">
    <div class="khungtong">
      <header>
        <%- include('../partials/header') -%>
      </header>
      <div class="container-fluid" style="width: 1275px; margin-top: 1pc; margin-bottom: 1pc;">
        <div class="card" style="border:1px solid rgba(93, 156, 238, 0.437)">
          <nav style="color: #b9deff;border:1px solid rgba(93, 156, 238, 0.437);text-align:center;
                      background-color: #90c3ec76; height: 25px; color: #3a3333; font-weight: bold;">
            Kê khai tờ khai quyết toán thuế trực tuyến - Upload phụ lục liên quan
          </nav>
          <form action="/tokhai/b2" method="post" enctype="multipart/form-data">
            <div class="container-fluid" style="margin-top: 1pc; margin-bottom: 1pc;">
                <table class="table table-striped table-bordered mt-3" id="data-table">
                    <!-- Table header -->
                    <thead style="text-align: center;">
                        <th>Loại file upload</th>
                        <th style="width: 30%;">Chọn file</th>
                        <th style="width: 10%;">Action</th>
                    </thead>
                    <!-- Table body -->
                    <tbody>
                        <tr>
                            <td style="width: 30%;">
                                <select class="form-control" name="fieldName[]">
                                    <option value="Chứng từ khấu trừ thuế">Chứng từ khấu trừ</option>
                                    <option value="Chứng từ nộp thuế">Chứng từ nộp thuế</option>
                                    <option value="Minh chứng người phụ thuộc">Minh chứng người phụ thuộc</option>
                                    <option value="Chứng từ về các khoản từ thiện, nhân đạo">Chứng từ về các khoản đóng từ thiện, nhân đạo</option>
                                </select>
                            </td>
                            <td> <input type="file" id="" name="filename" class="form-control" style="margin-right: 250px;" required/>
                            </td>
                            <td style="text-align: center;">
                                <button type="button" class="btn btn-danger remove-row">Xóa</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input class="btn btn-success add-row" type="button" value="Thêm hàng" style="width: 100px;">
            </div>
        <button style="text-align: center;" class="btn btn-success" type="submit">Tiếp tục</button>
           
        </form> 
          <br><br>

        </div>
        <br><br>
      </div>
    </div>
  </div>

  <%- include('../partials/footer') %>
</body>



</html>

<script>
    $(document).ready(function () {
        // Add row
        $('.add-row').click(function () {
            var newRow = $('#data-table tbody tr:first').clone();
            newRow.find('select').val('');
            $('#data-table tbody').append(newRow);
        });

        // Remove row
        $('#data-table').on('click', '.remove-row', function () {
            $(this).closest('tr').remove();
        });
    });
</script>