<!-- Sidebar navigation-->
<nav class="sidebar-nav">
    <ul id="sidebarnav" class="pt-4">
      <li class="sidebar-item">
        <a
          class="sidebar-link waves-effect waves-dark sidebar-link"
          href="/admin"
          aria-expanded="false"
          ><i class="mdi mdi-view-dashboard"></i
          ><span class="hide-menu">Dashboard</span></a
        >
      </li>
      
      <li class="sidebar-item">
        <a
          class="sidebar-link has-arrow waves-effect waves-dark"
          href="javascript:void(0)"
          aria-expanded="false"
          ><i class="mdi mdi-receipt"></i
          ><span class="hide-menu">Quản lý người nộp thuế </span></a
        >
        <ul aria-expanded="false" class="collapse first-level">
          <li class="sidebar-item">
            <a href="/list-user" class="sidebar-link"
              ><i class="mdi mdi-note-outline"></i
              ><span class="hide-menu"> Cá nhân</span></a
            >
          </li>
          <li class="sidebar-item">
            <a href="form-wizard.html" class="sidebar-link"
              ><i class="mdi mdi-note-plus"></i
              ><span class="hide-menu"> Doanh nghiệp </span></a
            >
          </li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a
          class="sidebar-link waves-effect waves-dark sidebar-link"
          href="pages-buttons.html"
          aria-expanded="false"
          ><i class="mdi mdi-relative-scale"></i
          ><span class="hide-menu">Buttons</span></a
        >
      </li>
      <li class="sidebar-item">
        <a
          class="sidebar-link has-arrow waves-effect waves-dark"
          href="javascript:void(0)"
          aria-expanded="false"
          ><i class="mdi mdi-face"></i
          ><span class="hide-menu">Icons </span></a
        >
        <ul aria-expanded="false" class="collapse first-level">
          <li class="sidebar-item">
            <a href="icon-material.html" class="sidebar-link"
              ><i class="mdi mdi-emoticon"></i
              ><span class="hide-menu"> Material Icons </span></a
            >
          </li>
          <li class="sidebar-item">
            <a href="icon-fontawesome.html" class="sidebar-link"
              ><i class="mdi mdi-emoticon-cool"></i
              ><span class="hide-menu"> Font Awesome Icons </span></a
            >
          </li>
        </ul>
      </li>
      <li class="sidebar-item">
        <a
          class="sidebar-link waves-effect waves-dark sidebar-link"
          href="pages-elements.html"
          aria-expanded="false"
          ><i class="mdi mdi-pencil"></i
          ><span class="hide-menu">Elements</span></a
        >
      </li>
  </nav>
  <!-- End Sidebar navigation -->