<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
<body id="bodyP">
  <div class="container">
    <div class="khungtong">
      <img style="display: flex;" src="https://thuedientu.gdt.gov.vn/etaxnnt/static/images/img_new/thuedientu.png" alt="">
      <hr style="color: red; height: 5px; margin-bottom: 5px;" />

    <!--nav cap 1-->
    <div>
      <nav class="navbar navbar-light bg-info " style="height: 25px;">
        <i class="fa-solid fa-house-chimney"></i>
      </nav>
    </div>


<!--khung noi dung-->
<div class="frm_login">
  <div class="khungbaologin">
    <div class="login_gt">
      <h2 style="font-size: 25px;">DỊCH VỤ THUẾ ĐIỆN TỬ (ETAX SERVICES)</h2>
      <div class="image_gt">
        <img src="https://thuedientu.gdt.gov.vn/etaxnnt/static/images/img_new/p6.jpg" width="750" height="350">
      </div>
    </div>
    <div class="left-conten">
      <h2 style="font-size: 25px;">ĐĂNG NHẬP HỆ THỐNG</h2>
      <div class="frm_login_content">
        <div class="title">
        <span>
        Hệ thống
        <br>
        Thuế điện tử
        </span>
      </div>
      <br>
     <div class="button">
          <a href="/nd-login"><span>CÁ NHÂN</span></a><br>
          <a href="/dn-login"><span>DOANH NGHIỆP</span></a> <br><br><br><br><br><br><br>
      </div>
      </div>
    </div>
    </div>
  </div>
<!--khung noi dung-->
    </div>
  </div>
  <footer>
    <%- include('partials/footer') %>
  </footer>
</body>
</html>